$background-color: #F5F5DC;
$main-color: #028080;
$button-text: #fff;
$dark-background: #303030;
$card-color: #D8D8A6;

/* Reset sizing */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }

body {
   background-color: $background-color;
   font-family: sans-serif;
}

/* Header area */
.header {
   background-color: $dark-background;
   position: fixed;
   top: 0;
   width: 100%;
   height: 10vh;
   align-items: center;
}

/* Logo - FA */
.header .fa-code {
   color: $main-color;
}

.header a,
.footer a {
   color: white;
   text-decoration: none;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   font-size: 12px;
   &__logo {
      margin-left: 10px;
   }
   &__menu {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      margin-right: 10px;
      &-item {
         color: $button-text;
         background-color: $main-color;
         margin: 15px 5px;
         padding: 5px 10px;
         border-radius: 2px;
      }
   }
}


main {
   margin-top: 100px;
   margin-bottom: 100px;
}

h1, h2 {
   color: $main-color;
   text-transform: uppercase;
}

h1 {   
   text-align: center;
}

h2 {
   font-size: 16px;
}

/* Personal Information */
#personal-information {
   height: 100vh;
}

.intro {
   display: flex;
   align-items: center;
   &__image {
      height: 60vh;
      width: auto;
   }
   &__text {
      padding-left: 15px;
      &-title {
         text-align:left;
         margin-bottom: 1em;
      }
   }
}

.down-arrow {
   text-align: center;
   color: $main-color;
   margin-top: 30px;
}




/* Project Information */
.cards {
   display: flex;
}

.card {
   background-color: $card-color;
}

/* Tech stack */
.tech__list {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   color: $button-text;
   border-top: 1px solid $main-color;
   border-bottom: 1px solid $main-color;
   padding: 15px;
   &-item {
      background-color: $main-color;
      padding: 8px 20px;
      border-radius: 2px;
   }
}

/* Blog posts */
article {
   display: flex;
   padding: 10px;
   margin-bottom: 30px;
}





img {
   margin-right: 20px;
   width: 25rem;
   height: auto;
}

/* Contact form */
.contact {
   width: 20rem;
   margin: auto;
   border: 1px solid $main-color;
   padding: 30px 60px;
   display: flex;
   flex-direction: column;
}

.contact label {
   margin-bottom: 5px;
}

.contact input,
.contact textarea {
   margin-bottom: 20px;
}


/* Footer area */
.footer {
   background-color: $dark-background;   
   position: fixed;
   bottom: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   &__copyright {
      color: $main-color;
      font-size: 12px;
      margin-left: 10px;
   }
   &__social {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      margin-left: 10px;
      &-item {
         color: $button-text;
         background-color: $main-color;
         margin: 5px 15px;
         padding: 8px 10px;
         border-radius: 50%;
         align-items: center;
      }
   }
}

